<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME THYMELEAF</title>
</head>
<body>

<h1 style="color: darkgreen" align="center">WELCOME THYMELEAF</h1>
<h2 th:text="${text}" ></h2>
<br>
<h2 th:text="${name}"></h2>
<h2 th:text="${course}"></h2>


<h2 th:text="${subject}"></h2>
<h2 th:text="${numbersArray}"></h2>
<h2 th:text="${numbersArray.get(0)}"></h2>
<h2 th:text="${studentid}"></h2>
<h2 th:text="${studentid}"></h2>
<h2 th:text="${birthday}"></h2>


<h2 th:text="${student.getFirstName()}"></h2>
<h2 th:text="${student.getLastname()}"></h2>
<h2 th:text="${student.id}"></h2>

<!-- Link -->
<a th:href="@{https://www.google.com/}">G O O G L E_ LINK</a>
<BR>
<a th:href="@{/student/register}">REGISTER PAGE LINK</a>
<BR>

<!-- Adding parameters to link -->
<a th:href="@{/student/welcome(id=3)}">Parameter Link</a>
<a th:href="@{/student/welcome(id=${student.id})}">Parameter Link with student.id</a>




</body>
</html>