<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor Registration</title>
</head>
<body>

<h1 style="color: chocolate"  align="CENTER">MENTOR CONFIRMATION PAGE</h1>

<h2>First Name:<span th:text="${mentor.firstname}"></span></h2>
<h2>Last Name:<span th:text="${mentor.lastname}"></span></h2>
<h2>Email:<span th:text="${mentor.email}"></span></h2>
<h2>Gender:<span th:text="${mentor.gender}"></span></h2>
<h2>Graduated:<span th:text="${mentor.graduated}"></span></h2>
<h2>Batch Number:<span th:text="${mentor.batch}"></span></h2>
</body>
</html>