<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1 class="text" style="color: blue" align="center">WELCOME HOME BABY</h1>

<div class="tenor-gif-embed" data-postid="5662740" data-share-method="host" data-width="100%" data-aspect-ratio="1.6711409395973154">
    <a href="https://tenor.com/view/matrix-code-matrix-code-encryption-encrypted-gif-5662740">Matrix Code GIF</a>
    from <a href="https://tenor.com/search/matrix-gifs">Matrix GIFs</a>
</div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<iframe width="853" height="480" src="https://www.youtube.com/embed/oDEQ9Y6X0i0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
<div>
    <!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
    Kurumuş boğazım<br>
    Bekliyorlar yol ağzında onlar<br>
    Bir gün beni sorarlarsa suscan<br>
    Elin kanlı çünkü abi demir kapı bundan<br>
    Ne özlemi hasret suçun doğasında varsa<br>
    <br>
    Yoksulun merhameti gasp<br>
    Elinde saz<br>
    Hep beklemiş gözlerinde yaş<br>
    Sırtında yas<br>
    Gün gelecek teraziyi bu insanlar tekmeleyecek<br>
    Biz tanığız keşmekeşe<br>
    En önden arz edicez<br>
    <br>
    Ben sesimden fark edicem yaşlandığımı<br>
    Ya da her şarkıyı veda niyetiyle yazdığımdan<br>
    Sana çirkin hazlarından, aşklarından geri kırıntılar kalcak<br>
    Ve bu yalnız olcak<br>
    <br>
    Senin yandığından daha fazla yanan insanları duymuyorsan eğer<br>
    Nasıl olcaz arkadaş<br>
    Böyle avuç kadar üstümüzde borcu kalır<br>
    Ve iyimser bir gül açar parklara<br>
    <br>
    Unutulacak dünler<br>
    Yaşanılacak günler var<br>
    Öyle günler var<br>
    İnan<br>
    Yalanmış ziyanmış hayat<br>
    Deyip gitme<br>
    <br>
    Hep utancın kar kışında kaldık<br>
    Alkışlara kandık<br>
    Öyle yorgun öyle beter sabahlara kalktık<br>
    Bir hayalim gözlerinde saklı<br>
    Ne giden var ne beklenen yarınlardan artık<br>
    <br>
    Hep utancın kar kışında kaldık<br>
    Alkışlara kandık<br>
    Öyle yorgun öyle beter sabahlara kalktık<br>
    Bir hayalim gözlerinde saklı<br>
    Ne giden var ne beklenen yarınlardan artık<br>
    <br>
    Artı hep anlattım biliyor musun<br>
    Dedim ki dili yok bunun<br>
    Kimsesi kimi yok onun<br>
    Neşesi düşü yok şunun<br>
    <br>
    Dedi ki düşür omzunu<br>
    Ne şiiri ne şarkısı<br>
    Yok işte bir şey olduğu<br>
    Öyle değil işte olmalı bir çözümü<br>
    Biz onca gece uykumuzu yok yere mi böldük<br>
    Acıları çekip gözlerini silmiş insanları düşün<br>
    Paramparça düşü<br>
    <br>
    Unutulacak dünler<br>
    Yaşanılacak günler var<br>
    Öyle günler var<br>
    İnan<br>
    Yalanmış ziyanmış hayat deyip gitme<br>
    <br>
    Hep utancın kar kışında kaldık<br>
    Alkışlara kandık<br>
    Öyle yorgun öyle beter sabahlara kalktık<br>
    Bir hayalim gözlerinde saklı<br>
    Ne giden var ne beklenen yarınlardan artık<br>
    <br>
    Hep utancın kar kışında kaldık<br>
    Alkışlara kandık<br>
    Öyle yorgun öyle beter sabahlara kalktık<br>
    Bir hayalim gözlerinde saklı<br>
    Ne giden var ne beklenen yarınlardan artık<br>
    <br>
    Mevcut düzen dahilinde ne aşkı<br>
    Avunduğun her şey sahte yok aslın<br>
    Geriye ne kalmış<br>
    Düşlediğim bir yaşam ve utandığım korkular var<br>
    Gönlümü vermişken hem de<br>
    Anlıyorken bir halkı<br>
    <br>
    Uykusuzluk sende artık<br>
    Onlar temizlerler vicdanlarını<br>
    Açsa karnın yağma artık isyan sayılır<br>
    Bir anne vedasıdır gerçek hicran tanımı<br>
    Kazanmak kirlidir kaybedelim insan kalırız<br>
    <br>
    Kocaman bir sofra düşün mahallenin ortasında<br>
    Dünyanın tam ortasında<br>
    Güneşler büyütür üstümüzde sonra<br>
    Kalır burjuva düşlerin yalanlardan arda<br>
    <br>
    İyi söz yazarlarının ne kadar hükmü kaldı<br>
    Ben sana bu çiçekleri mezarlıktan çaldım<br>
    Çok uluslu yalnızlıkların yanında uzandım<br>
    Gökyüzü çok yıldızlı<br>
    <br>
    Unutulacak dünler<br>
    Yaşanılacak günler var<br>
    Öyle günler var<br>
    İnan<br>
    Yalanmış ziyanmış hayat deyip gitme<br>
    <br>
    Hep utancın kar kışında kaldık<br>
    Alkışlara kandık<br>
    Öyle yorgun öyle beter sabahlara kalktık<br>
    Bir hayalim gözlerinde saklı<br>
    Ne giden var ne beklenen yarınlardan artık<br>
    <br>
    Hep utancın kar kışında kaldık<br>
    Alkışlara kandık<br>
    Öyle yorgun öyle beter sabahlara kalktık<br>
    Bir hayalim gözlerinde saklı<br>
    Ne giden var ne beklenen yarınlardan artık
</div>
</body>
</html>