<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CybertekApp</title>
    <!--
    container for meta data (is not dosplyed )
    Title, Styles, Link, Scripts, Meta and Other
    -->


    <meta name="Baha">

    <head/>

<body>

Welcome to Java Spring developer Course!

<h1> Spring boot h1 </h1>
<h2>Spring boot h2  </h2>
<h3>Spring boot h3</h3>
<h6>Spring boot  h6</h6>


<h1 align ="center" style ="color: blue">SPRING FRAMEWORK </h1>
<img src="springboot.png" alt="Spring Boot Image">

<ul>
    <li style="background-color: aqua"><b>>MVC</b></li> <br>
    <li style="background-color: aqua">>ORM</li> <br>
    <li style="background-color: aqua"> >API</li>
</ul>

<img src="index.html" alt="Spring Boot image"><br>

<a href="https://www.amazon.com"> Amazon  </a><br>

<table>

    <thead>
    <tr>
        <td  style="background-image: revert"> 1</td>
        <td> 2</td>
        <td> 3 </td>
    </tr>

    </thead>
    <tr>
        <td> Loop</td>
        <td> Collection</td>
        <td> Stream </td>
    </tr>

    <tr>
        <td> IOC</td>
        <td> DI</td>
        <td> Value </td>
    </tr>

</table>

<!--Forms-->
<label>Username </label>
<input type="email" name="username "> <br>
<label> Password</label>
<input type="password" style="fill: blue"><br><br>

<label>Enter Your nickname and Comments</label>
<input type="text"><br>
<textarea name="comments "></textarea><br>


<label>Please select your favorite subject</label><br>
<input type="radio" name="company" value="IOC" checked="checked">IOC  <br>
<input type="radio" name="company" value="IOC">DI <br>
<input type="radio" name="company" value="IOC">MVC <br>
<br>
<label style="color: darkgreen" style="align-content: center">Please select your company</label><br>
<input type="checkbox" name="company" value="IOC" checked="checked">IOC  <br>
<input type="checkbox" name="company" value="IOC">DI <br>
<input type="checkbox" name="company" value="IOC" style="solid-color: blue">MVC <br>


<label>Select your car :</label>
<select name ="cars">
    <option value="Honda"> Honda </option>
    <option value="Ford"> Ford </option>
    <option value="Nissan"> Nissan </option>
</select>


<form action="#" method="get">
    First name : <input type="text" name ="first_name"/>
    Last name : <input type="text" name ="last_name"/>
</form>

<div>
    <h3 style="color: blue">This is java developer course </h3>
    <ul>
        <li> Spring Famework </li>
        <li> Security </li>
        <li> Unit testing </li>
        <li> ORM</li>
        <li> MVC</li>
    </ul>
</div>

<br><br><br><br><br><br>

</body>

</html>